doctype html 
html
    head 
        title Ejemplo Pug 
        //link(rel ="stylesheet" href ="estilos.css")
    body
        h1 esto es un encabezado en pug
        div 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque obcaecati, dolorem quasi cum quae laborum, dicta a ducimus nemo tempore, modi sapiente doloremque odit optio vel assumenda. Reprehenderit, eius similique!
            p.parrafo. 
                Esto es sparta
                ahhhhh
                agguas